<!-- {% extends 'my_app/base.html' %}
{% load static %}

{% block title %}
<title>Membership</title>
 {% endblock %}

 {% block css %}

 <link rel="stylesheet" href="{% static "css/membership.css" %}">

 {% endblock %}


 {% block content %}
    <div id="priceing-card-cont">
        <div id="priceing-card">
            <div class="price-card normal">
                <h2>STARTER</h2>
                <img src="" alt="d">
                <div  class="feature-cont">
                    <p>Features</p>
                </div>
                <div class="card-details">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore repudiandae a ipsum! Ratione provident sapiente molestiae illum explicabo est nam bl</p>
                </div>
            </div>
            <div class="price-card premium">
                <h2>PPREMIUM</h2>
                <img src="" alt="d">
                <div  class="feature-cont">
                    <p>Features</p>
                </div>
                <div class="card-details">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore repudiandae a ipsum! Ratione provident sapiente molestiae illum explicabo est nam bl</p>
                </div>
            </div>
            <div class="price-card normal">
                <h2>UNLIMITED</h2>
                <img src="" alt="d">
                <div class="feature-cont">
                    <p>Features</p>
                </div>
                <div class="card-details">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore repudiandae a ipsum! Ratione provident sapiente molestiae illum explicabo est nam bl</p>
                </div>
            </div>
        </div>
    </div>
 {% endblock %}

 {% block scripts %}

 <script  src="{% static "javascript/membership.js" %}"></script>

 {% endblock %}
<!-->
